    <footer class="text-center">
        © Universidad Politecnica  <br/>
        Ricardo Romo-{{getAnio}}
    </footer>
    <style type="text/css">
    footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
    </style>
</body>

</html>